{{- $noindex := or (eq .Kind "404") (.Params.noindex) (eq .Kind "term") (eq .Kind "taxonomy") -}}
{{- $directives := slice -}}
{{- if $noindex -}}
  {{- $directives = $directives | append "noindex" -}}
{{- else -}}
  {{- $directives = $directives | append "index" -}}
{{- end -}}
{{- $directives = $directives | append "follow" -}}
{{- if .Params.noarchive -}}
  {{- $directives = $directives | append "noarchive" -}}
{{- end -}}
{{- if .Params.nosnippet -}}
  {{- $directives = $directives | append "nosnippet" -}}
{{- end -}}
{{- if .Params.maxsnippet -}}
  {{- $directives = $directives | append (printf "max-snippet:%v" .Params.maxsnippet) -}}
{{- end -}}
<meta name="robots" content="{{ delimit $directives ", " }}">
{{- if not $noindex -}}
<meta name="googlebot" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
{{- end -}}
