{{- $title := .Site.Title -}}
{{- if .IsHome -}}
  {{- $title = .Site.Params.home_title | default .Site.Title -}}
{{- else if eq .Kind "term" -}}
  {{- $title = printf "Tag: %s" .Title -}}
{{- else if eq .Kind "taxonomy" -}}
  {{- $title = "Tags" -}}
{{- else if eq .Kind "404" -}}
  {{- $title = "404 — Not Found" -}}
{{- else -}}
  {{- $title = .Title -}}
{{- end -}}
{{- if .IsHome -}}
  {{- .Scratch.Set "seoTitle" $title -}}
{{- else -}}
  {{- .Scratch.Set "seoTitle" (printf "%s :: %s" $title .Site.Title) -}}
{{- end -}}
