{{ define "main" }}
  {{- $paginator := .Paginate (.Pages.ByDate.Reverse) -}}
  {{ partial "section_cmd.html" (dict "title" (.Title | default "posts" | lower) "cmd" "ls" "arg" "/posts/" "level" "h1") }}
  <hr class="zine-rule zine-rule--solid">
  <ul class="menu-list">
    {{- range $paginator.Pages -}}
      <li>
        <span class="post-date">{{ .Date | time.Format (.Site.Params.date_format | default "2006-01-02") }}</span><a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
      </li>
    {{- end -}}
  </ul>
  {{ partial "pagination.html" . }}
  {{ partial "page_footer.html" . }}
{{ end }}
