{{ define "main" }}
  {{ partial "masthead.html" . }}
  <article>
    <h1>{{ .Title }}</h1>
    <p class="byline"><span class="post-date">{{ .Date | time.Format (.Site.Params.date_format | default "2006-01-02") }}</span></p>
    <hr class="zine-rule zine-rule--solid">
    {{- if .Params.tags -}}
    <div class="meta">
      {{- range $i, $term := (.GetTerms "tags") -}}
        {{- if $i }}, {{ end -}}<a class="tag" href="{{ $term.RelPermalink }}">{{ $term.LinkTitle }}</a>
      {{- end -}}
    </div>
    {{- end -}}
    {{- if .Params.toc -}}
    <aside class="toc">{{ .TableOfContents }}</aside>
    {{- end -}}
    <div class="content">{{ .Content }}</div>
    <hr class="zine-rule">
    {{ partial "back_link.html" . }}
  </article>
{{ end }}
