{{- $giscus := site.Params.giscus -}}
<noscript>
  <p class="comments__noscript">Włącz JavaScript, aby zobaczyć komentarze, lub <a href="https://github.com/{{ $giscus.repo }}/discussions">dołącz do dyskusji na GitHubie</a>.</p>
</noscript>
<div data-giscus
  data-repo="{{ $giscus.repo }}"
  data-repo-id="{{ $giscus.repoId }}"
  data-category="{{ $giscus.category }}"
  data-category-id="{{ $giscus.categoryId }}"
  data-mapping="{{ $giscus.mapping | default "pathname" }}"
  data-strict="{{ $giscus.strict | default "0" }}"
  data-reactions-enabled="{{ $giscus.reactionsEnabled | default "1" }}"
  data-emit-metadata="{{ $giscus.emitMetadata | default "0" }}"
  data-input-position="{{ $giscus.inputPosition | default "bottom" }}"
  data-lang="{{ $giscus.lang | default "pl" }}"
></div>
