{{- $author := .Site.Params.author | default .Site.Title -}}
{{- $desc := .Site.Params.description -}}
{{- if .Description -}}
  {{- $desc = .Description -}}
{{- else if and .IsPage (ne .Summary "") -}}
  {{- $desc = .Summary | plainify | strings.TrimSpace | truncate 160 -}}
{{- else if .IsHome -}}
  {{- with .Content -}}
    {{- $desc = . | plainify | strings.TrimSpace | truncate 160 -}}
  {{- end -}}
{{- end -}}

{{- if eq .Section "posts" -}}
  {{- $keywords := slice -}}
  {{- range .GetTerms "tags" -}}
    {{- $keywords = $keywords | append .LinkTitle -}}
  {{- end -}}
  {{- $schema := dict
      "@context" "https://schema.org"
      "@type" "BlogPosting"
      "headline" .Title
      "description" $desc
      "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
      "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
      "author" (dict "@type" "Person" "name" $author "url" .Site.BaseURL)
      "publisher" (dict "@type" "Person" "name" $author)
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
      "url" .Permalink
      "inLanguage" .Site.LanguageCode
      "keywords" $keywords
  -}}
<script type="application/ld+json">{{ $schema | jsonify }}</script>
{{- else if .IsHome -}}
  {{- $schema := dict
      "@context" "https://schema.org"
      "@type" "WebSite"
      "name" .Site.Title
      "description" $desc
      "url" .Site.BaseURL
      "inLanguage" .Site.LanguageCode
      "author" (dict "@type" "Person" "name" $author)
  -}}
<script type="application/ld+json">{{ $schema | jsonify }}</script>
{{- else if eq .Kind "term" -}}
  {{- $schema := dict
      "@context" "https://schema.org"
      "@type" "CollectionPage"
      "name" (printf "Posts: %s" .Title)
      "url" .Permalink
      "description" (printf "Posts tagged %s." .Title)
      "inLanguage" .Site.LanguageCode
  -}}
<script type="application/ld+json">{{ $schema | jsonify }}</script>
{{- end -}}
