{{- partial "seo/description.html" . -}}
{{- partial "seo/og-image.html" . -}}
{{- $author := .Site.Params.author | default .Site.Title -}}
{{- $desc := .Scratch.Get "seoDesc" -}}
{{- $image := .Scratch.Get "seoImage" -}}
{{- $graph := slice -}}

{{- $person := dict
    "@type" "Person"
    "@id" (printf "%s#person" .Site.BaseURL)
    "name" $author
    "url" .Site.BaseURL
    "jobTitle" (.Site.Params.job_title | default "Software Engineer")
    "description" .Site.Params.description
-}}
{{- with .Site.Params.github -}}
  {{- $person = merge $person (dict "sameAs" (slice .)) -}}
{{- end -}}
{{- with .Site.Params.linkedin -}}
  {{- $sameAs := $person.sameAs | default slice -}}
  {{- $person = merge $person (dict "sameAs" ($sameAs | append .)) -}}
{{- end -}}
{{- $graph = $graph | append $person -}}

{{- $website := dict
    "@type" "WebSite"
    "@id" (printf "%s#website" .Site.BaseURL)
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" .Site.Params.description
    "inLanguage" .Site.Language.Lang
    "publisher" (dict "@id" (printf "%s#person" .Site.BaseURL))
-}}
{{- $graph = $graph | append $website -}}

{{- if .IsHome -}}
  {{- $graph = $graph | append (dict
      "@type" "ProfilePage"
      "@id" (printf "%s#profile" .Permalink)
      "url" .Permalink
      "name" .Site.Title
      "description" $desc
      "mainEntity" (dict "@id" (printf "%s#person" .Site.BaseURL))
      "inLanguage" .Site.Language.Lang
  ) -}}
{{- end -}}

{{- if and .IsPage (eq .Section "posts") -}}
  {{- $keywords := slice -}}
  {{- range .GetTerms "tags" -}}
    {{- $keywords = $keywords | append .LinkTitle -}}
  {{- end -}}
  {{- $post := dict
      "@type" "BlogPosting"
      "@id" (printf "%s#article" .Permalink)
      "headline" .Title
      "description" $desc
      "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
      "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
      "author" (dict "@id" (printf "%s#person" .Site.BaseURL))
      "publisher" (dict "@id" (printf "%s#person" .Site.BaseURL))
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
      "url" .Permalink
      "image" $image
      "inLanguage" .Site.Language.Lang
      "wordCount" .WordCount
      "keywords" $keywords
      "isPartOf" (dict "@id" (printf "%s#website" .Site.BaseURL))
  -}}
  {{- $graph = $graph | append $post -}}
{{- else if eq .Kind "term" -}}
  {{- $graph = $graph | append (dict
      "@type" "CollectionPage"
      "@id" (printf "%s#collection" .Permalink)
      "name" (printf "Tag: %s" .Title)
      "url" .Permalink
      "description" $desc
      "inLanguage" .Site.Language.Lang
      "isPartOf" (dict "@id" (printf "%s#website" .Site.BaseURL))
  ) -}}
{{- else if eq .Kind "taxonomy" -}}
  {{- $graph = $graph | append (dict
      "@type" "CollectionPage"
      "@id" (printf "%s#collection" .Permalink)
      "name" "Tags"
      "url" .Permalink
      "description" $desc
      "inLanguage" .Site.Language.Lang
      "isPartOf" (dict "@id" (printf "%s#website" .Site.BaseURL))
  ) -}}
{{- end -}}

{{- $breadcrumbs := slice -}}
{{- $breadcrumbs = $breadcrumbs | append (dict "name" "Home" "url" .Site.Home.Permalink) -}}
{{- if and (not .IsHome) (eq .Section "posts") .IsPage -}}
  {{- with site.GetPage "/posts" -}}
    {{- $breadcrumbs = $breadcrumbs | append (dict "name" "Posts" "url" .Permalink) -}}
  {{- end -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" .Title "url" .Permalink) -}}
{{- else if eq .Kind "term" -}}
  {{- with site.GetPage "/tags" -}}
    {{- $breadcrumbs = $breadcrumbs | append (dict "name" "Tags" "url" .Permalink) -}}
  {{- end -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" .Title "url" .Permalink) -}}
{{- else if eq .Kind "taxonomy" -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" "Tags" "url" .Permalink) -}}
{{- else if and (not .IsHome) (not (eq .Kind "404")) -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" .Title "url" .Permalink) -}}
{{- end -}}

{{- if gt (len $breadcrumbs) 1 -}}
  {{- $items := slice -}}
  {{- range $i, $crumb := $breadcrumbs -}}
    {{- $items = $items | append (dict
        "@type" "ListItem"
        "position" (add $i 1)
        "name" $crumb.name
        "item" $crumb.url
    ) -}}
  {{- end -}}
  {{- $graph = $graph | append (dict
      "@type" "BreadcrumbList"
      "@id" (printf "%s#breadcrumb" .Permalink)
      "itemListElement" $items
  ) -}}
{{- end -}}

{{- $schema := dict "@context" "https://schema.org" "@graph" $graph -}}
{{- printf `<script type="application/ld+json">%s</script>` ($schema | jsonify) | safeHTML -}}
