{{- $posts := "" -}}
{{- $dateFormat := site.Params.date_format | default "2006-01-02" -}}

{{- if .section -}}
  {{- $posts = where site.RegularPages "Section" .section -}}
  {{- $posts = $posts.ByDate.Reverse -}}
{{- else if eq .context.Kind "taxonomy" -}}
  {{- $posts = .context.Pages.ByDate.Reverse -}}
{{- else if eq .context.Kind "term" -}}
  {{- $posts = .context.Pages.ByDate.Reverse -}}
{{- else -}}
  {{- $posts = site.RegularPages.ByDate.Reverse -}}
{{- end -}}

{{- $limitExceeded := false -}}
{{- if and .limit (gt (len $posts) .limit) -}}
  {{- $limitExceeded = true -}}
{{- end -}}

{{- if gt (len $posts) 0 -}}
  {{- if .limit -}}
    {{- $posts = first .limit $posts -}}
  {{- end -}}
  <div class="post-feed">
    {{- range $post := $posts -}}
      {{ partial "post_feed_item.html" (dict "post" $post "dateFormat" $dateFormat) }}
    {{- end -}}
    {{- if and .show_more $limitExceeded -}}
      <p class="post-feed__more">
        <a href="{{ .show_more_url | relURL }}">{{ .show_more_text | default "więcej..." }}</a>
      </p>
    {{- end -}}
  </div>
{{- end -}}
